In [1]:
import numpy as np
import pandas as pd

In [2]:
housing = pd.read_csv('housing.csv')

In [3]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

1. Масштабирование:

а. Нормализовать признак - median_income

In [4]:
from sklearn import preprocessing

In [5]:
# normalize the "median_income" attribute
norm = preprocessing.MinMaxScaler()
housing["median_income_normalized"] = norm.fit_transform(housing[["median_income"]])

In [6]:
housing["median_income_normalized"]

0        0.539668
1        0.538027
2        0.466028
3        0.354699
4        0.230776
5        0.243921
6        0.217873
7        0.180694
8        0.108998
9        0.220087
10       0.186425
11       0.191073
12       0.177591
13       0.149908
14       0.097709
15       0.112074
16       0.156901
17       0.111743
18       0.102840
19       0.145060
20       0.059165
21       0.083695
22       0.084488
23       0.115909
24       0.144832
25       0.131302
26       0.135157
27       0.090213
28       0.078792
29       0.081902
           ...
20610    0.059530
20611    0.054192
20612    0.068516
20613    0.068682
20614    0.135833
20615    0.128267
20616    0.106688
20617    0.193253
20618    0.120695
20619    0.153819
20620    0.280175
20621    0.128702
20622    0.132191
20623    0.160246
20624    0.177515
20625    0.250003
20626    0.114950
20627    0.172418
20628    0.144501
20629    0.109957
20630    0.211542
20631    0.208135
20632    0.181039
20633    0.141350
20634    0.221556
20635    0.073130
20636    0.141853
20637    0.082764
20638    0.094295
20639    0.130253
Name: median_income_normalized, Length: 20640, dtype: float64

б. Привести признак - population к масштабу от 0 до 100

In [7]:

# set 0-100 the "population" attribute
to_0_100 = preprocessing.MinMaxScaler(feature_range=[0,100])
housing["population_to_0_100"] = to_0_100.fit_transform(housing[["population"]])

In [8]:
housing["population_to_0_100"]

0         0.894083
1         6.721040
2         1.381765
3         1.555537
4         1.575156
5         1.149135
6         3.057821
7         3.234396
8         3.371731
9         4.338687
10        2.542112
11        4.206956
12        3.069032
13        0.958547
14        3.388548
15        1.945122
16        2.214188
17        1.807786
18        2.766333
19        1.925502
20        1.137924
21        2.595364
22        2.836402
23        2.382354
24        2.811177
25        0.880070
26        1.692873
27        3.080243
28        3.161524
29        1.098686
           ...
20610     3.340901
20611     3.251212
20612     2.124499
20613     3.262423
20614     4.069621
20615     2.020797
20616     3.234396
20617     0.854845
20618     2.026402
20619     2.858825
20620     0.414810
20621     1.348132
20622     1.272457
20623     1.667648
20624     2.040416
20625     0.072872
20626     1.404187
20627     0.465260
20628     2.844811
20629    19.364332
20630     3.514672
20631     3.354915
20632     2.926091
20633     3.024188
20634     2.909274
20635     2.359932
20636     0.989378
20637     2.813980
20638     2.068444
20639     3.879032
Name: population_to_0_100, Length: 20640, dtype: float64

2. Заполнение пропусков:

а. Заполнить пропуски в столбце total_bedrooms средними значениями по категориям столбца ocean_proximity

Например, если пропущенно значение в строке с категорией INLAND, нужно заполнить его средним значением по этой категории

In [9]:
# replacement of missing values in column "total_bedrooms" on the avg for each category of column "ocean_proximity"
housing['total_bedrooms']= housing.groupby("ocean_proximity")['total_bedrooms'].transform(lambda x: x.fillna(x.mean()))
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 12 columns):
longitude                   20640 non-null float64
latitude                    20640 non-null float64
housing_median_age          20640 non-null float64
total_rooms                 20640 non-null float64
total_bedrooms              20640 non-null float64
population                  20640 non-null float64
households                  20640 non-null float64
median_income               20640 non-null float64
median_house_value          20640 non-null float64
ocean_proximity             20640 non-null object
median_income_normalized    20640 non-null float64
population_to_0_100         20640 non-null float64
dtypes: float64(11), object(1)
memory usage: 1.9+ MB

3. Категорийные атрибуты:

а. Посчитать среднее кол-во комнат в строке (total_rooms/households)

In [11]:
# count avg qty rooms per house
housing['avg_rooms_per_house'] = (housing['total_rooms']/housing['households'])
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,median_income_normalized,population_to_0_100,avg_rooms_per_house
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0.539668,0.894083,6.984127
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,0.538027,6.721040,6.238137
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,0.466028,1.381765,8.288136
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,0.354699,1.555537,5.817352
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,0.230776,1.575156,6.281853

б. Разбить полученный столбец на группы на ваше усмотрение (Например, 1 комната, 2 комнаты, 3 и более комнат)

In [12]:
from sklearn.preprocessing import LabelEncoder

In [14]:
#encoder = LabelEncoder()
#rooms_cat = housing["avg_rooms_per_house"]
#rooms_cat_encoded = encoder.fit_transform(rooms_cat)
#rooms_cat_encoded

array([17422, 15292, 18851, ...,  9514, 10299,  9811], dtype=int64)

In [18]:
housing["avg_rooms_bin"] = housing["avg_rooms_per_house"]\
.apply(lambda x: '<3' if x < 3 else '3-6' if x < 7 else '>6')

In [19]:
# здесь я не очень разобрался, но видимо вы разбирали это на одной из будущих лекций, до которых я еще не добрался
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,median_income_normalized,population_to_0_100,avg_rooms_per_house,avg_rooms_bin
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0.539668,0.894083,6.984127,3-6
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,0.538027,6.721040,6.238137,3-6
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,0.466028,1.381765,8.288136,>6
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,0.354699,1.555537,5.817352,3-6
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,0.230776,1.575156,6.281853,3-6